link(type='text/css', rel='stylesheet', href='/styles/admin-panel.css')
title=Administration
script(type="text/javascript" src="/js/jquery.min.js")
script(type="text/javascript" src="/js/jquery.validate.min.js")
script(type="text/javascript" src="/js/scripts.js")